.icon-button{
    border:none;
      
    background-color:#019160;
          
    border-radius: 4px;
          
    height: 40px;
          
    padding-left: 16px;
          
    padding-right: 16px;
          
    text-align: left;
          
    display: flex;
          
    align-items: center;
          
    color: #ffffff;
          
    
}
.icon-button img{
    width: 16px;
    height: 16px;
    
    margin-right: 8px; 
}
.icon-button:hover{
    background-color: #2FBE8E;
}
.icon-button:active{
    background-color: #01B075;
}

.second-button{
    outline: none;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 40px;
}
.second-button:hover{
    background-color: #E9EBEE;
}
.icon-button:active{
    background-color: #01B075;
}