.icon-button{
    border:none;
      
    background-color:#019160;
          
    border-radius: 4px;
          
    height: 40px;
          
    padding-left: 16px;
          
    padding-right: 16px;
          
    text-align: left;
          
    display: flex;
          
    align-items: center;
          
    color: #ffffff;
          
    
}
.icon-button img{
    width: 16px;
    height: 16px;
    
    margin-right: 8px; 
}
.icon-button:hover{
    background-color: #2FBE8E;
}
.icon-button:active{
    background-color: #01B075;
}
