.pop-up-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbb;
    z-index: 2;
    
}
.pop-up{
    position: relative;
    font-size: 13px;
    color: #000000;
    background-color: #ffffff;
    width: 365px;  
    border-radius: 4px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.pop-up .x-icon{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../../assets/icon/x.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 28px;
    height: 28px;

}
.pop-up .x-icon:hover{
  background-color: #e9ebee;

}
.pop-up .title{
    margin: 24px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;


}
.pop-up .content{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.pop-up .warning-icon{
    width: 32px;
    height: 32px;
    margin-left: 24px;
    margin-right: 10px;
    background-color: #e9ebee;
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius: 50%;

    
}
.pop-up .warning-text{
    margin-right: 24px;
    
}
.pop-up .footer{
    height: 60px;
    display: flex;
    padding-left: auto;
    padding-right: 24px;
    align-items: center;
    justify-content: flex-end;
    background-color: #e9ebee;
}
.btn-delete{
 
    margin-left:16px;
    background-color: #FF4747;
   
}
.btn-delete:hover{
 
    background-color: #ff6666;
   
}
.btn-delete:active{
    background-color: #ff3333;
}
