.menu{
    width: 220px;

    border-right: 1px solid #E5E5E5;
    background-color: #ffffff;
}
 .menu .menu-item{
    
    height: 44px;
    background-color: #ffffff;

    color: #000000;
    font-family: GoogleSans-Regular;
    font-size: 13px;

    display: flex;
}
.menu-item img{
    width: 20px;
    height: 20px;
   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    margin-right: 12px;
}




.menu-item:hover{
    background-color: #e5e5e5;
    color: #000000;
    
    
}
.active{
    background-color: #019160 !important;
    color: #ffffff !important;
    font-family: GoogleSans-Medium !important;
}


 
