.page .filter-bar{
    display: flex;
    
  }
  .page .icon-input{
    margin-left: 16px;
    width: 300px;
  }
  
  
  .page .filter-bar .right-filter{
    position: absolute;
    right: 16px;
  }
  .page .filter-bar .combo-box{
    margin-left: 10px;
  }
  .refresh-button {
    margin-left: 10px;
   
    
  }
  
  
  
  
  