.employee-modal {
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.employee-modal .modal-content {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  
  position: relative;
  border-radius: 5px;
}
.employee-modal .modal-content .modal-top {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
}
.employee-modal .modal-header p {
  font-family: GoogleSans-Bold;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}
.employee-modal .modal-header img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.employee-modal .modal-body {
  display: flex;
}
.employee-modal .left-body {
  width: 182px;
  margin-right: 20px;
}
.employee-modal .left-body p {
  text-align: center;
}
.employee-modal .left-body img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid rgb(187, 187, 187);
  margin-top: 10px;
}
.employee-modal .right-body{
  overflow: auto;
  max-height: calc(100vh - 195px);
}
.employee-modal .right-body::-webkit-scrollbar {
  width: 7px;

}
.employee-modal .right-body::-webkit-scrollbar-track {
  border-radius: 10px;
    background-color: #e9ebee;
  
}
.employee-modal .right-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
    background-color:#bbbbbb;
  
}
.employee-modal .right-body > p {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.employee-modal .right-body .information td {
  padding-right: 15px;
  padding-bottom: 8px;
}
.employee-modal .right-body .information p {
  font-family: GoogleSans-Medium;
  margin-top: 0;
  margin-bottom: 4px;
}
/* .employee-modal .right-body .information input {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  padding-left: 16px;
  font-size: 13px;
  font-family: GoogleSans-Regular;
  outline: none;
  margin-bottom: 16px;
}
.employee-modal .right-body .information input:focus {
  border: 1px solid rgb(1, 145, 96);
} */
/* .employee-modal .right-body .information select {
  width: 322px;
  height: 40px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  padding-left: 16px;
  font-size: 13px;
  font-family: GoogleSans-Regular;
  outline: none;
  margin-bottom: 16px;
}
.employee-modal .right-body .information select:focus {
  border: 1px solid rgb(1, 145, 96);
} */

.star {
  color: red;
}
.employee-modal .modal-footer {
  display: flex;
  background-color: #e9ebee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  border-radius: 0 0 5px 5px;
}
.employee-modal .modal-footer .right-footer {
  display: flex;
  margin-left: auto;
}
.employee-modal .modal-footer .m-btn-save {
  margin-left: 16px;
}

.employee-modal .modal-footer .m-btn-cancel {
  border: none;
  border-radius: 4px;

  padding-left: 24px;
  padding-right: 24px;
  height: 40px;
  text-align: center;
  background-color: #e9ebee;
}
.employee-modal .modal-footer .m-btn-cancel:hover {
  background-color: #f1f2f4;
}
.green-line{
  height: 2px;
  width: 100px;
  background-color: #019160;
  margin-bottom: 12px;
}