.employee-list{
   width: 100%;
    border-collapse:  collapse;
  }
  
  
  .employee-list tbody{
    width: 100%;
  }

  .employee-list th{
    text-align: left;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #ffffff;
  }
  .employee-list tr{
    width: 100%;
  }
  
  .employee-list tr:nth-child(odd)
  {
    background-color: #e5e5e5;
  }
  .employee-list tr:hover
  {
    background-color: #019160;
  }
  .employee-list th,.employee-list td{
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  
