input[type="date"] {
    box-sizing: border-box;
    width: 302px;
    height: 40px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
    outline: none;
    padding-left: 16px;
    padding-right: 8px ;
}
.active-date{
    border-color: #019160 ;
}