.input {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 38px;
  
  display: flex;
  align-items: center;
  position: relative;
}

.error-input{
  border-color: #FF4747;
}
.active-input{
  border-color: #019160;
}
.input input {
  border: none;

  outline: none;
  padding: 0;
  height: 36px;
  width: 100%;

  font-size: 13px;
}
.input input::placeholder {
  color: #bbbbbb;
}
.input .x-icon {
  width: 12px;
  height: 12px;
  padding: 2px;
  background-color: #e9ebee;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;

}


.input .title{
  position: absolute;
bottom: 40px;
width: 200px;
left: 50px;

padding: 10px;
border-radius: 5px;
background: #FF4747;
color: #ffffff;
font-size: 13px;
text-align: center;




}
 .input i{

position: absolute;
bottom: 25px;
left: 50%;
display: inline-block;
color: #FF4747;
font-size: 30px;


 }


/* [data-title]::before {
    content: attr(data-title);
    position: absolute;
    bottom: 40px;
    display: inline-block;

    border-radius: 10px;
    background: #FF4747;
    color: #ffffff;
    font-size: 13px;
    
    
  }

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 30px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
} */
