.input {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 38px;
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
.input input {
  border: none;

  outline: none;
  padding: 0;
  height: 36px;
  width: 100%;

  font-size: 13px;
}
.input input::placeholder {
  color: #bbbbbb;
}
.input .x-icon {
  width: 14px;
  height: 14px;
  padding: 2px;
  background-color: #e9ebee;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;

}
.active-input{
  border-color: #019160;
}

/* [data-title]::before {
    content: attr(data-title);
    position: absolute;
    bottom: 40px;
    display: inline-block;

    border-radius: 10px;
    background: #FF4747;
    color: #ffffff;
    font-size: 13px;
    
    
  }

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 30px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
} */
